---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { HOME } from "@consts";
import EmojiScroller from "@components/EmojiScroller.astro";
import LinkCard from "@components/LinkCard.astro";
import Link from "@components/Link.astro";
---
<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white text-4xl font-serif">
      Welcome <EmojiScroller/>
    </h4>
    <div class="py-3">
    </div>
    <p>If you've landed here, you're probably not in the right place.</p>
    
    <div class="pt-1">
      <Link href="https://michaelraus.ch">Head to my website -></Link>
    </div>

    <p class="pt-12 text-xs">
      Recieved an email from this address? All emails sent to the @mkl.gg domain are forwarded to me. I may have provided you with a unique address, such as yourcompany@mkl.gg. These addresses are legitimate and help me organize and prioritize my emails while minimizing spam.
    </p>
  </Container>
</PageLayout>
